
/*Makes CSS standards for the app header. Focuses on the text size and color.*/
.header {
  height: 4rem;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: rgba(255, 255, 255, 0.3);
  margin: auto;
}

/* Creates css standards for the text input. Black background with white text*/
.text-input {
  width:calc(100% - 50px);
  border: 1px solid white;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
  background: black;
  color: white;
}

/* Creates css standards for edit button. Should be in same position as send button*/
.editor {
  background: white;
  border-radius: 50%;
  border: none;
  height: 1.7rem;
  width: 1.7rem;
  position: absolute;
  right: 1.15rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}




